.example-card {
  width: 600px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.cursor {
  display: flex;
  flex-wrap: wrap;
}
.cursor > div {
  flex: 120px;
  padding: 10px 2px;
  white-space: nowrap;
  border: 1px solid #666;
  border-radius: 5px;
  margin: 0 5px 5px 0;
}
.cursor > div:hover {
  background: #1c87c9;
}
.pointer { cursor: pointer; }
