<div class="card_center">
  <img src="../../assets/img/User.jpg" height="60" width="60"/>
  <div class="container">
    <p>
      <input type="text" placeholder="Que esta pasando?" [(ngModel)]="tweetText" (keyup.enter)="addTweet()">
    </p>
  </div>
  <button class="button" (click)="addTweet()"><span>Tweet </span></button>
</div>

<div style="position: relative; top: 20px;">
<div class="card_center_tweets" *ngFor="let t of listTweets.reverse()">
  <img src="../../assets/img/User.jpg" height="60" width="60"/>
  <div class="container">
    <div style="padding-top: 5px">
      <b>{{t.author}}</b>
      <span style="font-size: 15px">.@{{t.username}}.{{getTimeNow(t.createdDate)}}</span></div>
    <div>{{t.text}}</div>
  </div>
</div>
</div>
